.popup__submit {
  box-sizing: border-box;
  border: 0;
  background: #000000;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  min-width: 358px;
  min-height: 50px;
  margin-top: 20px;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .popup__submit {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    min-width: 238px;
    min-height: 46px;
  }
}
