.profile__image-edit-button {
  position: relative;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 120px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
}

.profile__image-edit-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
}

.profile__image-edit-button:hover::before {
  opacity: 0.8;
  border-radius: 50%;
}

.profile__image-edit-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./../../../images/edit-avatar-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__image-edit-button:hover::after {
  opacity: 0.8;
  border-radius: 50%;
}
