.profile {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 40px;

    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
    }
}