.popup__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 34px 36px 37px 36px;
    position: relative;
    min-width: 430px;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .popup__container {
        justify-content: flex-start;
        min-width: 282px;
        padding: 22px 22px;
    }
}