.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 358px;
  height: 100%;
  max-width: 880px;
  max-height: 521px;
  margin: 0 auto;
  padding-left: 19px;
  padding-right: 19px;
}
@media screen and (max-width: 767px) {
  .login-form {
    max-width: 260px;
  }
}
