.profile__name {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    max-width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .profile__name {
        padding-bottom: 14px;
    }
}

@media screen and (max-width: 500px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        margin-left: 27px;
        padding-bottom: 6px;
        max-width: 200px;
    }
}