.header__container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 920px) {
  .header__container {
    margin-right: 20px;
    margin-top: 16px;
  }
}
